/**********************************
 Author and software info here
 **********************************/

manifest {
  name = 'isugifNF/freebayes'
  author = 'Andrew Severin'
  homePage = 'www.bioinformaticsworkbook.org'
  description = 'Nextflow parallelization of freebayes'
  mainScript = 'main.nf'
  version = '1.0.0'
}

params {
  help = false
  
  // == Inputs
  fastaReference = "yourGenome.fasta"
  bam = "out.bam"
  
  // == Outputs
  outdir = './out_dir'
  vcf = "out.vcf"
  
  // == Runtime options
  options = "--min-mapping-quality 0 --min-coverage 3 --min-supporting-allele-qsum 0 --ploidy 2 --min-alternate-fraction 0.2 --max-complex-gap 0"
  regionSize = 25000 //this is the number of fasta records to split the file into
  windowSize = 1000000
  threads = 16
  monochrome_logs = false
  queueSize = 18
  account = false
}

env {
  // == slurm options
  account_flag = params.account ? " --account $params.account " : ' '
}

process {
  publishDir = "${baseDir}/$params.outdir"
/*
  withName:runMinimap2 {
    clusterOptions =  '-N 1 -n 16 -t 2:00:00'
  }

  withName:runRacon {
    clusterOptions =  '-N 1 -n 40 -p huge --mem 1Tb  -t 24:00:00'
  }

  withName:medakaAlign {
    clusterOptions =  '-N 1 -n 32  -p fat -t 48:00:00'
  }
  withName:samSortIndex {
    clusterOptions =  '-N 1 -n 32 -p fat -t 48:00:00'
  }
*/

}

executor {
  queueSize = params.queueSize
  submitRateLimit = '5 sec'
}

profiles {
  ceres { includeConfig './configs/ceres.config' }
  local { includeConfig './configs/local.config'}
  nova { includeConfig './configs/nova.config'}
  test { includeConfig './configs/test.config'}

  docker {
    docker.enabled = true
  }

  singularity {
    singularity.enabled = true
  }
}

/* Not sure why this is necessary but nf-core/rnaseq had this line */
docker.runOptions = '-u \$(id -u):\$(id -g)'
singularity.autoMounts = true

// Capture exit codes from upstream processes when piping
process.shell = ['/bin/bash', '-euo', 'pipefail']

timeline {
  enabled = true
  file = "$params.outdir/timeline.html"
}

report {
  enabled = true
  file = "$params.outdir/report.html"
}

